@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --white: #fff;
    --icon-color: #545454;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#B8E5E2,#DEE6D7);
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background: var(--white);
    
}

.container .form{
    width: 100%;
    max-width: 400px;
    padding: 50px;
    /* background: #3D97D3; */
}


.container .letter-box{
    position: absolute;
    right: 0;
    top: 0;
    padding: 4%;
    height: 100%;
    list-style: none;
    background-color: #00264D;
}

.letter-box .letter{
    font-size: 5rem;
    font-weight: 100;
    color: var(--white);
    background: none;
}

.form .title {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    color: #A8A9B1;
    font-size: 40px;
}

.form .input-box{
    position: relative;
    margin-bottom: 10%;
    color: var(--icon-color);
}


.form .input-box 
.user,.lock{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.form .input-box .eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--icon-color);
    cursor: pointer;
}

.form .input-box input{
    width: 100%;
    padding: 2%;
    border: 0;
    outline: 0;
    padding-left: 25px;
    font-size: 16px;
    background: #CCCCCC;
}

.form .input-box input::placeholder{
    text-transform: capitalize;
}

.remeber-me{
    position: relative;
    margin-bottom: 5%;
}

.remeber-me input[type="checkbox"]{
    accent-color: #828282;
}

.forgot-password-link{
    position: absolute;
    right: 0;
    text-decoration: none;
    
}

.remeber-me,
.forgot-password-link{
    color: #d2c4c4;
}

.form .btn-box .btn{
    width: 100%;
    padding: 5%;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 16px;
    background: #00264D;
    cursor: pointer;

}